In [1]:
import pandas as pd

In [12]:
# Load the first CSV file into a DataFrame
file1_path = 'D://Myntra_scrap.csv'
df1 = pd.read_csv('Myntra_scrap.csv')

In [13]:
# Load the second CSV file into a DataFrame
file2_path = 'D://amazon_product_data.csv'
df2 = pd.read_csv(file2_path)

In [14]:
# Choose the column you want to compare
column_to_compare = 'product_price'

In [15]:
# Sort the DataFrames based on the specified column in descending order
df1_sorted = df1.sort_values(by=column_to_compare, ascending=False).head(5)
df2_sorted = df2.sort_values(by=column_to_compare, ascending=False).head(5)

In [16]:
# Display the top 5 values in each file
print(f'Top 5 values in {file1_path}:')
print(df1_sorted)

print('\n')

print(f'Top 5 values in {file2_path}:')
print(df2_sorted)

Top 5 values in D://Myntra_scrap.csv:
    Unnamed: 0 product_name  product_price                     productDesc  \
49          49         Nike  not mentioned   Men Court Vision Low Sneakers
35          35         Nike  not mentioned  Men Revolution 6 Running Shoes
24          24         Nike  not mentioned       Women DS 12 Running Shoes
23          23         Nike  not mentioned      Women DOWNSHIFTER 12 Shoes
22          22         Nike  not mentioned  Revolution 7 Road Running Shoe

      product_img                                        product_buy
49  not mentioned  https://www.myntra.com/casual-shoes/nike/nike-...
35  not mentioned  https://www.myntra.com/sports-shoes/nike/nike-...
24  not mentioned  https://www.myntra.com/sports-shoes/nike/nike-...
23  not mentioned  https://www.myntra.com/sports-shoes/nike/nike-...
22  not mentioned  https://www.myntra.com/sports-shoes/nike/nike-...


Top 5 values in D://amazon_product_data.csv:
    Unnamed: 0                          product_name   product_price  \
24          24               Men's Basketball Shoe    not mentioned
25          25     Women's Low-Top Sneakers, 11 US    not mentioned
28          28    Women's Court Vision Low Sneaker    not mentioned
29          29  Men's Air Monarch Iv Cross Trainer    not mentioned
30          30     womens Court Legacy Next Nature    not mentioned

                  productDesc  \
24  100+ bought in past month
25  200+ bought in past month
28             not mentioned
29  100+ bought in past month
30  300+ bought in past month

                                          product_img  \
24  https://m.media-amazon.com/images/I/51RFfemMao...
25  https://m.media-amazon.com/images/I/516uK2ZxwP...
28  https://m.media-amazon.com/images/I/71CZzNC1hq...
29  https://m.media-amazon.com/images/I/61Y6sBaBjn...
30  https://m.media-amazon.com/images/I/71DGoE88cA...

                                          product_buy
24  https://amazon.com/Nike-Mens-Basketball-White-...
25  https://amazon.com/Nike-Womens-Legacy-Running-...
28  https://amazon.com/Nike-Womens-Vision-Oxford-D...
29  https://amazon.com/NIKE-Monarch-Trainer-Metall...
30  https://amazon.com/Nike-Womens-us_Footwear_Siz...

In [11]:
# Compare the top 5 values between the two DataFrames
common_values = pd.merge(df1_sorted, df2_sorted, how='inner', on=column_to_compare)
common_values.to_csv('D:\\pricee.csv', index=False)